In [39]:
# NJ SR1A 'Grantors Listing', 2009 through Jan 2016 - from http://www.state.nj.us/treasury/taxation/lpt/grantors_listing.shtml

In [40]:
# Full Hudson County extract

In [41]:
import pandas as pd

In [42]:
from pandas import DataFrame as hoboken

In [43]:
import numpy as np

In [44]:
hudson = pd.read_csv('hudson_sr1a.csv', header=0, index_col='recordid', low_memory=False)

In [45]:
hudson[:5]

,pams_pin,source,addl_block1,addl_block2,addl_block3,addl_block4,addl_block5,addl_lot1,addl_lot2,addl_lot3,...,reported_sales_price,rtf_error_flag,rtf_exempt_code,sales_ratio,serial_number,sr_nu_code,u_n_type,verified_sales_price,year_built,timeinserted
recordid,,,,,,,,,,,,,,,,,,,,,
44035,0901_77_3,NaN,00000,00000,00000,00000,00000,00000,00000,00000,...,1,NaN,E,0,4552257,25,N,1,1920,2016-02-15 21:57:22.962313
44024,0901_56_45.02,NaN,00000,00000,00000,00000,00000,00000,00000,00000,...,1,NaN,E,0,4552251,25,N,1,0,2016-02-15 21:57:22.962313
44025,0901_196_1,NaN,00000,00000,00000,00000,00000,00000,00000,00000,...,490000,E,NaN,0,4552289,06,N,490000,0,2016-02-15 21:57:22.962313
44026,0901_23_19,NaN,00000,00000,00000,00000,00000,00000,00000,00000,...,125000,E,NaN,0,4552758,26,N,125000,0,2016-02-15 21:57:22.962313
44027,0901_289_11,NaN,00000,00000,00000,00000,00000,00000,00000,00000,...,1,NaN,E,0,4554212,25,N,1,0,2016-02-15 21:57:22.962313

In [46]:
# compute a new column for year of sale from 'deed_date' per http://bit.ly/212V1LN

In [47]:
hudson['date'] = pd.to_datetime(hudson['deed_date'])

In [48]:
# and slice out the year and month for later

In [49]:
hudson['year'], hudson['month'] = hudson['date'].dt.year, hudson['date'].dt.month

In [50]:
hudson[:5]

,pams_pin,source,addl_block1,addl_block2,addl_block3,addl_block4,addl_block5,addl_lot1,addl_lot2,addl_lot3,...,sales_ratio,serial_number,sr_nu_code,u_n_type,verified_sales_price,year_built,timeinserted,date,year,month
recordid,,,,,,,,,,,,,,,,,,,,,
44035,0901_77_3,NaN,00000,00000,00000,00000,00000,00000,00000,00000,...,0,4552257,25,N,1,1920,2016-02-15 21:57:22.962313,2015-06-19,2015,6
44024,0901_56_45.02,NaN,00000,00000,00000,00000,00000,00000,00000,00000,...,0,4552251,25,N,1,0,2016-02-15 21:57:22.962313,2015-05-28,2015,5
44025,0901_196_1,NaN,00000,00000,00000,00000,00000,00000,00000,00000,...,0,4552289,06,N,490000,0,2016-02-15 21:57:22.962313,2015-07-30,2015,7
44026,0901_23_19,NaN,00000,00000,00000,00000,00000,00000,00000,00000,...,0,4552758,26,N,125000,0,2016-02-15 21:57:22.962313,2015-08-27,2015,8
44027,0901_289_11,NaN,00000,00000,00000,00000,00000,00000,00000,00000,...,0,4554212,25,N,1,0,2016-02-15 21:57:22.962313,2015-06-24,2015,6

In [51]:
# lets recode the district_code for niceness

In [52]:
district_labels = {1:'Bayonne',2:'East Newark',3:'Guttenberg',4:'Harrison',5:'Hoboken',6:'Jersey City',7:'Kearny',8:'North Bergen',9:'Secaucus',10:'Union City',11:'Weehawken',12:'West New York'}

In [54]:
hudson['district_code'] = hudson['district_code'].map(district_labels)

In [55]:
hudson['district_code'][:5]

recordid
44035    Bayonne
44024    Bayonne
44025    Bayonne
44026    Bayonne
44027    Bayonne
Name: district_code, dtype: object

In [ ]:
# and create a couple of splits for resale analysis and cities analysis

In [56]:
parcelhistories = hudson.groupby('pams_pin')

In [ ]:
# file handling stuff

In [71]:
from pandas import ExcelWriter
writer = ExcelWriter('Hudson_sr1a_outfile.xlsx')

In [22]:
#### DATA PREP COMPLETE -- ANALYSIS FOLLOWS

In [74]:
############################## MUNICIPALITY ANALYSIS IN PROGRESS ##############################

In [ ]:
# mean sales price by year by city

In [76]:
salesprice_by_city_by_year = hudson.groupby(['district_code','year'])['reported_sales_price'].mean()

In [77]:
salesprice_by_city_by_year

district_code  year
Bayonne        1998          1.000000
               2003          1.000000
               2004          1.000000
               2005          1.000000
               2006          1.000000
               2007     195857.642857
               2008     172211.444444
               2009     206850.680851
               2010     217230.297904
               2011     294629.828076
               2012     317543.023481
               2013     190272.777632
               2014     271559.891583
               2015     515985.250760
East Newark    2008     204175.083333
               2009      74292.947368
               2010     139786.071429
               2011     124525.727273
               2012     240417.227273
               2013     170750.300000
               2014     250817.000000
               2015     186355.777778
Guttenberg     2006     605000.000000
               2007     300183.500000
               2008     278036.243243
               2009     185684.896825
               2010     190063.659091
               2011     328804.414634
               2012     185209.788571
               2013     227195.148936
                            ...
Union City     2012     265809.009259
               2013     191385.553041
               2014     266544.334437
               2015     258103.145973
Weehawken      1916          1.000000
               2003          1.000000
               2005         10.000000
               2006      14400.000000
               2007          1.000000
               2008    1214007.688000
               2009     413002.490291
               2010     445998.694805
               2011     416376.420690
               2012     419019.143791
               2013     630487.817352
               2014     907054.761404
               2015     682285.188073
West New York  1916     302416.916667
               2002     105000.000000
               2005          1.000000
               2006     487500.500000
               2007     248937.750000
               2008     313322.391850
               2009     346262.071979
               2010     251633.263274
               2011     290771.736842
               2012     478853.968421
               2013     272815.352342
               2014     329229.724138
               2015     335274.318945
Name: reported_sales_price, dtype: float64

In [79]:
salesprice_by_city_by_year.info()

AttributeError: 'Series' object has no attribute 'info'

In [ ]:
# how do i export salesprice_by_city_by_year?

In [80]:
salesprice_by_city_by_year.to_csv( 'file.csv' )

In [ ]:
############################## STOPPED HERE ##############################

In [ ]:
############################## RESALE ANALYSIS IN PROGRESS ##############################

In [ ]:
# now try to filter out the ones that have more than 1 sale

In [ ]:
# ? do a groupby and use that list as the filter?

In [ ]:
# maybe use this ut modify to keep the dupes instead ? http://wesmckinney.com/blog/filtering-out-duplicate-dataframe-rows/

In [37]:
# try compute the difference in reported_sales_price for the pairs (e.g. max-min)

In [1]:
# alex r says

In [3]:
# data.groupby('parcelID').apply(func=myquestion)

In [4]:
# def func(temp_df)

In [30]:
? def flip_profit(grouped):
    # n.b. this is accurate for the majority of resales = that only sold 2x 2009-2015
    # but  doesnt yet for those that sold 3+ times
    # will need to figure out how to sort 'grouped' and then iterate 
    # over the list creating n-1 profit values 
    # (and date deltas) from the list of n sales
    
    return grouped['reported_sales_price'].last - grouped['reported_sales_price'].first